* {
    margin: 0 auto; padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 100vh;
    background: url("../img/cbr.jpg") no-repeat center;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    z-index: 2;
}

.menu {
    z-index: 2;
    background-color: #225470;
    opacity: 0.9;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
}

.menu ul li a {
    color: #fff;
    text-transform: capitalize;
}

.join-form { position: relative; z-index: 2; }

.join-form h1 {
    font-size: 32px; color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
.int-area {
    width: 280px; position: relative;
    margin-top: 20px;
}
.int-area:first-child {
    margin-top: 0;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #fff;
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: #999;
    transition: all .5s ease;
}
.int-area label.warning {
    color: red !important;
    animation: warning 0.3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px; color: #166cea;
}

.btn-area {margin-top: 30px; width: 100%;}
.btn-area button {
    width: 100%; height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 15px; color: #999;
}